<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>
    <div class="container">
        <%- include ('./partials/background') %>
        <div class="mid">

        </div> <!--mid -->
    </div> <!--container -->
    <%- include ('./partials/footer') %>
</body>
</html>