<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <div class="container">
        <%- include ('./partials/background') %>
        <div class="edges"></div>
        <div class="mid">
            <%- include ('./partials/header') %>
            <img src="/majbritt.jpg" class=centerimg>
            <br>
            <p class="dentt">Like I said on the homepage, my name is Majbritt Jensen. On this page I'm just going to go over some facts about myself, and then information specific to Maple Lawn Counseling Services! If you still have any questions, please contact me with the information provided on the Contact Us page. I hope to hear from you soon.</p>
            <br>
            <h1 class="center">About Me</h1>
            <div class=container1>
                <div class=a1><h2>Work Experience</h2></div>
                <div class=a3><h2>Education</h2></div>
            </div>
            <div class=container2>
                <div class=b1><p class=dent>I have worked at the UMMC as a social worker helping patients cope with cancer and at JH Hospital helping pregnant women after with loss and post partum depression and anxiety. In my career, I have received the Compassion Award from the UMMC Greenebaum Comprehensive Cancer Center, the Hope Award from the Ulman Cancer Fund, and was named a Birdland Community Hero through the Orioles Organization.</p></div>
                <div class=b3><p class=dent>I was born in Connecticut, but I most grew up in Houston, which is where I went to highschool. Eventually, for my undergraduate degree, I left Texas to go to North Carolina. For college, I attended Elon University. After that, I went to the University of Maryland School of Social Work, which I graduated in the year 2000. Since then, I have been practicing for the last 20 years!</p></div>
            </div>
            <br>
            <h1 class="center">About Me</h1>
            <div class=container1>
                <div class=d1><h2>Specialties</h2></div>
                <div class=d3><h2>Client Focus</h2></div>
            </div>
            <div class=container2>
                <div class=b1><p class=dent>I have a wide variety of experience with a lot of different areas, but I specialize in anxiety, depression, and stress</p></div>
                <div class=b3><p class=dent>My age group focus includes preteens (11 to 13), teenagers (14-19), adults, and elders (65+). While I'm not limited to it, I also have a focus on the cancer community.</p></div>
            </div>
            <div class=container1>
                <div class=a1><h2>Treatment Approach</h2></div>
                <div class=a3><h2>Issues</h2></div>

            </div>
            <div class=container2>
                <div class=b1><p class=dent>I use the following treatment techniques: adjustment to illness, anticipatory grief counseling and grief counseling, attachment-based, cognitive behavioral, compassion focused, emotionally focused, family, marital, Gottman method, humanistic, integrative, interpersonal, mindfulness-based, motivational interviewing, person-centered, relational, strength-based, and trauma-focused. I also do sessions in these modes: individual, couples, and group. If you have any questions about this, please reach out to me!</p></div>
                <div class=b3><p class=dent>Here is a list of the issues that I treat: Cancer diagnosis, caregiving, end of life, chronic illness and pain, coping skills, divorce, family council, grief, healthcare workers, infertility, infidelity, life transitions, marital and premarital, parenting, peer relations, pregnancy, postpartum, prenatal, relationship issues, school issues, and women's issues.</p></div>
            </div>
        </div>
        <div class="edges"></div>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>