<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>
    <div class="container">
        <%- include ('./partials/background') %>
        <div class="edges"></div>
        <div class="mid">

        </div>
        <div class="edges"></div>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>