<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <div class="container">
        <%- include ('./partials/background') %>
        <div class="edges"></div>
        <div class="mid">
            <%- include ('./partials/header') %>
            
            <h2 class="center">Listening, Caring, Helping</h2>
            <br>
            <p class="center">Welcome</p>
            <br>
            <p class="ptext">My name is Majbritt Jensen and my goal is to help you feel better. We all face challenges and experiences, and need help navigating the ups and downs of life. I have helped many through serious events after a cancer diagnosis, infertility, postpartum mood changes, loss of a loved one, miscarriages, and divorce. Whether you are grieving the loss of a loved one, your teen is struggling with bullying or social issues, or you are coping with a health crisis, I can help. </p>
            <br>
            <p class="ptext">In my career, at UMMC Greenebaum Cancer Center I helped cancer patients and their loved ones and then at Johns Hopkins Hospital I helped pregnant women cope with loss and postpartum depression and anxiety.</p>
            <br>
            <p class="ptext">I offer non judgmental compassion to help you see through the darkness of the challenging circumstances and rediscover hope and connection. My approach in therapy is working together as a team seeking solutions, acquiring new coping skills all while emphasizing your strengths, and employing mindfulness techniques.</p>
            <br><br>
            <h2 class="center">Location</h2>
            <br>
            <p class="center">I practice out of Maple Lawn, Maryland. All are welcome. Please reach out for the help you deserve</p>
            <br>
            <p style="text-align:center;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3093.9987598713374!2d-76.90463888502545!3d39.152009839501396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7dc1b8d8c0b5b%3A0xe745799b842a55c2!2s8115%20Maple%20Lawn%20Blvd%2C%20Fulton%2C%20MD%2020759!5e0!3m2!1sen!2sus!4v1592256664738!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
        </div>
        <div class="edges"></div>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>