<!-- using flex boxes to design the footer -->
<div class="foot-container">
    <div class="footerInfo">
        <p>Insert Address</p>
    </div>
    <div class="footerInfo">
      <p>Maple Lawn Counseling Services</p>
    </div>
    <div class="footerInfo">
      <p>Powered By Baltimore Web Design</p>
    </div>
</div>