
        <div class="header">
            <div class="inner_header">
                <ul class="navigation">
                    <a href="/" class="button"><li>Home</li></a>
                    <a href="about"class="button"><li>About Us</li></a>
                    <a href="contact"class="button"><li>Contact Us</li></a>
                </ul>
            </div>
        </div>